.swiper-pagination {
  position: relative;
  padding: 0 74px 6px;
}

.swiper-pagination-bullet {
  background-color: #ebebeb;
  opacity: 1;
  border-radius: 0;
  width: 12px;
  height: 3px;
  margin-left: 7px;
  &:first-child {
    margin-left: 0;
  }

  &-active {
    background-color: #30bc55;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  left: auto;
  right: auto;
  top:auto;
  bottom: auto;
  margin-top: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: $primary-color;

  .icon {
    font-size: 35px;
  }
}

@include respond-to($lg) {
  .swiper-pagination {
    padding-left: 45px;
    padding-right: 45px;
  }
}