
.section-popular-brands {
  padding-top: 36px;
  padding-bottom: 70px;
  background-image: url(../assets/img/serp.png);
  background-position: right 0;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  .container {
    display: flex;
  }

  .content-section {
    width: 45%;

  }

  .link-show-brands {
    position: relative;
    color: #000000;
    font-family: $secondary-font;
    font-size: 21px;
    font-weight: 600;
    padding-right: 25px;
    transition: .35s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:before {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 9px;
      border-color: transparent transparent transparent #30bc55;
      z-index: 2;
    }
  }

  .block-view-brands {
    position: relative;
    width: 60%;

  }

  .brands {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;
    &__item{
      width: 33.33%;
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .card {
    max-width: 282px;
    width: 100%;
    box-shadow: 0 3px 42px 1px rgba(21, 23, 23, 0.07);
    background-color: #ffffff;
    padding: 13px;
    margin-bottom: 50px;


    &__title {
      color: #000000;
      font-family: $secondary-font;
      font-size: 23px;
      font-weight: 600;
    }


    .logo-brand {
      width: 29px;
      height: 36px;
    }

    .wrap-img {
      position: relative;
      width: 100%;
      padding-top: 48%;
      margin-bottom: 16px;
      overflow: hidden;

      .img-car {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }

  .wrap-card-link {
    width: 100%;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ab065;
    transition: .35s;

    &:hover,
    &:focus {
      background-color: #00d550;
    }

    &:after {
      position: relative;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4.5px 0 4.5px 5px;
      border-color: transparent transparent transparent #ffffff;
      margin-left: 15px;
    }

    .card__link {

      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      z-index: 1;
    }
  }

  .specifications {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 12px;

  }

  .card-brand {
    &__heading {
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__footer {


      .acceleration {
        font-size: 10px;
        font-weight: 700;
        line-height: 1.4;
      }
    }
  }

}

@include respond-to($screen-md) {
  .section-popular-brands {
    .content-section {
      padding-right: 15px;
      padding-left: 20px;
    }

    .brands-pagination {
      padding-top: 40px;
    }
  }
}

@include respond-to($lg) {
  .section-popular-brands {
    .content-section {
      width: 40%;
    }

    .block-view-brands {
      width: 60%;
      padding-left: 10px;
    }

  }
}

@include respond-to($md) {
  .section-popular-brands {

  }
}

@include respond-to($sm) {
  .section-popular-brands {
    .content-section {
      //width: 45%;
    }

    .block-view-brands {
      //width: 55%;
      //padding-left: 10px;
    }

  }
}

@include respond-to($xs) {
  .section-popular-brands {
    .container {
      flex-wrap: wrap;
    }

    .card {
      max-width: 350px;
      padding: 15px;

      .bg-logo-brand {
        margin-bottom: 20px;
      }

      .wrap-img {
        margin-bottom: 45px;
      }
    }

    .content-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 15px;
    }

    .block-view-brands {
      width: 100%;
      max-width: none;
      padding: 0;
    }
  }
}

@media all and (max-width: 380px) {
  .section-popular-brands {
    //.card__title {
    //  font-size: 14px;
    //}
    //
    //.card__link {
    //  font-size: 13px;
    //}
  }
}
