.section-rental-conditions {
  padding-top: 65px;
  padding-bottom: 11%;
  overflow: hidden;

  .container {
    display: flex;
  }

  .rental-conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6%;

    &__item {
      position: relative;
      width: 45%;
      padding-left: 70px;
      padding-top: 14px;
      padding-bottom: 36px;
      font-size: 16px;
      line-height: 1.23;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;

      .strong {
        font-size: 23px;
        font-weight: 600;
        line-height: 1.15;
        margin-bottom: 5px;
      }
    }

    .wrap-bg-rental {
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-background-size: contain;
      background-size: contain;
      width: 38px;
      height: 38px;
      left: 0;
      top: 12px;
      z-index: 1;
    }
  }

  .part-left {
    width: 45%;
  }

  .part-right {
    width: 55%;

    .link-FAQ {
      display: inline-flex;
      background-color: #ececec;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 54px;
      font-weight: 600;
      letter-spacing: 0.35rem;
      padding: 19px 38px 19px 30px;
      align-items: center;
      transition: .35s;

      &:hover,
      &:focus {
        color: rgba(0, 201, 67, .6);
      }
    }
  }

  .wrap-icon-dowland {
    width: 41px;
    height: 35px;
    margin-right: 42px;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .section__title {
    margin-bottom: 65px;
  }

  .wrap-bg {
    position: relative;
    width: 92%;
    min-height: 475px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 21px;
      right: 0;
      top: -100vh;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 201, 67, .8);
    }
  }
}

@include respond-to($md) {
  .section-rental-conditions {
    .container {
      flex-wrap: wrap;
    }

    .part-left {
      margin-bottom: 60px;
    }

    .part-right {
      text-align: center;

    }

    .part-left,
    .part-right {
      width: 100%;
    }

    .rental-conditions__item {
      text-align: left;

      .strong {
        font-size: 20px;
      }
    }

    .wrap-bg {
      width: 100%;
    }
  }
}

@include respond-to($sm) {
  .section-rental-conditions {
    padding-top: 35px;

    .wrap-icon-dowland {
      width: 34px;
      height: 24px;
    }

    .part-right .link-FAQ {
      font-size: 40px;
    }
  }
}

@include respond-to($xs) {
  .section-rental-conditions {


    .wrap-bg {
      min-height: 300px;
    }

    .rental-conditions__item {
      width: 100%;
    }
  }
}

@include respond-to($xxs) {
  .section-rental-conditions {
    .section__title {
      margin-bottom: 40px;
    }
    .part-right {
      .link-FAQ {
        font-size: 28px;
      }
    }
  }
}


@media all and (max-width: 480px) {
  .section-rental-conditions {
    .wrap-bg {
      min-height: 230px;
    }

    .rental-conditions__item {
      padding-left: 50px;
      padding-bottom: 20px;
      font-size: 15px;

      .strong {
        font-size: 18px;
      }

      .wrap-bg-rental {
        width: 28px;
        height: 28px;
      }
    }
  }
}