.section-ordering {
  padding-top: 7%;
  padding-bottom: 90px;

  .form-ordering {
    &.form-ordering_vertical {
      .label-checkmark {
        width: 100%;
      }

      .form-group {
        padding-bottom: 45px;
      }
    }

    &.form-ordering_horizontal {
      .fieldboxs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-part {
          width: 36%;

          &:last-of-type {
            width: 20%;
            max-width: 495px;
          }
        }
      }
    }

    .fieldboxs {
      padding-top: 55px;
    }

    .form-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &:last-of-type {
        padding-bottom: 0;
      }

      &_vertical {
        flex-direction: column;
      }
    }

    .fieldboxs-part {
      padding: 0 20px;

      .input_small {
        width: 100%;
        max-width: 257px;
      }

      .form-group-small {
        width: 45%;

      }

      .form-group__title {
        width: 100%;
      }
    }
  }


  .bottom-row {
    width: 100%;

    .form-group {
      width: 100%;
      display: flex;
    }

    .form-group__title {
      margin-right: 80px;
    }

    .label-checkmark {
      padding-right: 60px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .form__footer {
    padding-top: 70px;
  }
}

@include respond-to($lg) {
  .section-ordering {
    .form-ordering.form-ordering_horizontal {
      .fieldboxs-part {
        width: 50%;
        &:last-of-type {
          width: 100%;
        }
      }
    }
  }
}

@include respond-to($sm) {
  .section-ordering {
    padding-bottom: 160px;

    .form__footer {
      padding-top: 20px;
    }
  }
}