.section-about {
  .goals {
    position: relative;
    display: flex;
    padding-bottom: 72px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: -100vw;
      bottom: 0;
      height: 13px;
      background-color: #00d550;
      z-index: 2;
    }
  }

  .goals-card {
    position: relative;
    width: 45%;
    padding-left: 7.5%;
    padding-top: 55px;
    padding-bottom: 55px;
    font-family: "Montserrat", sans-serif;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      left: 0;
      bottom: 48px;
      top: 36px;
      z-index: 1;
      background-color: #23c04c;
    }

    &:nth-child(even) {
      width: 55%;
      background-color: rgba(10, 12, 12, .03);
      &:before{
        bottom: 0;
        top: 0;
      }
      .goals-card__title{
        &:after,
        &:before{
          left: -16.75%;
        }
      }
    }

    &__title {
      position: relative;
      font-size: 23px;
      font-weight: 600;
      padding-bottom: 25px;
      margin-bottom: 30px;
      &:after,
      &:before{
        position: absolute;
        content: '';
        display: block;
        left: -21.25%;
        z-index: 1;
        background-color: #23c04c;
      }
      &:before{
        width: 50%;
        bottom: 0;
        height: 1px;
      }
      &:after{
        bottom: -8.5px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
      }
    }
    &__body{
      max-width: 387px;
    }
  }
}

@include respond-to($md) {
 .section-about {
   .goals-card {
     padding-left: 45px;
     padding-top: 45px;
     padding-right: 20px;
     &:nth-child(n) {
       width: 50%;
       .goals-card__title {
         &:after,
         &:before {
           left: -53px;
         }
       }
     }
   }
 }
}