
.section-popular-brands {
  .container {
    display: flex;
  }

  .content-section {
    width: 45%;
    padding-top: 36px;
    padding-right: 10.5%;
  }

  .link-show-brands {
    position: relative;
    color: #000000;
    font-family: $secondary-font;
    font-size: 21px;
    font-weight: 600;
    padding-right: 25px;
    transition: .35s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:before {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 9px;
      border-color: transparent transparent transparent #30bc55;
      z-index: 2;
    }
  }

  .block-view-brands {
    position: relative;
    padding-top: 36px;
    padding-bottom: 70px;
    width: 55%;

  }

  .bg-view-brands {
    position: absolute;
    width: calc(50vw + 13%);
    right: -13%;
    bottom: 0;
    top: 0;
    background-position: right 0;
    -webkit-background-size: auto;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .brands {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;

    &__item {
      width: 33.33%;
      padding-left: 35px;
      padding-right: 35px;
      margin-bottom: 50px;
    }
  }

  .card {
    max-width: 282px;
    width: 100%;
    box-shadow: 0 3px 42px 1px rgba(21, 23, 23, 0.07);
    background-color: #ffffff;
    padding: 13px;

    &__title {
      color: #000000;
      font-family: $secondary-font;
      font-size: 23px;
      font-weight: 600;
    }


    .logo-brand {
      width: 29px;
      height: 36px;
    }

    .wrap-img {
      position: relative;
      width: 100%;
      padding-top: 48%;
      margin-bottom: 16px;
      overflow: hidden;

      .img-car {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }

  .wrap-card-link {
    width: 100%;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ab065;
    transition: .35s;

    &:hover,
    &:focus {
      background-color: #00d550;
      box-shadow: 2px 2px 10px rgba(35, 93, 15, 0.65);
    }

    &:after {
      position: relative;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4.5px 0 4.5px 5px;
      border-color: transparent transparent transparent #ffffff;
      margin-left: 15px;
    }

    .card__link {

      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      z-index: 1;
    }
  }

  .specifications {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 12px;

    .wrap-icon {
      height: 18px;
    }
  }

  .card-brand {
    &__heading {
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__footer {

      .acceleration {
        font-size: 10px;
        font-weight: 700;
        line-height: 1.4;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .section-popular-brands {
    .content-section {
      padding-right: 5.5%;
    }

    .nice-select {
      width: 47%;
    }

    .brands {
      margin: 0 -10px;
    }

    .bg-view-brands {

      width: calc(50vw + 28px);
      right: -28%;
    }

    .brands__item {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 40px;
    }
  }
}

@include respond-to($screen-md) {
  .section-popular-brands {
    .brands__item {
      width: 40%;
    }
  }
}

@include respond-to($lg) {
  .section-popular-brands {
    .content-section {
      width: 50%;
    }

    .block-view-brands {
      width: 50%;
      padding-left: 10px;

    }

    .bg-view-brands {
      width: calc(50vw + 28%);
    }

    .brands__item {
      width: 46%;
    }

  }
}

@include respond-to($md) {
  .section-popular-brands {
    .container {
      flex-wrap: wrap;
    }

    .block-view-brands {
      width: 100%;
      padding-left: 0;
    }

    .content-section {
      width: 100%;
    }

    .brands__item {
      width: 33%;
    }

    .form__group {
      margin-bottom: 40px;
    }

    .form-choose {
      margin-bottom: 100px;
    }
  }
}

@include respond-to($sm) {
  .section-popular-brands {
    .brands {
      margin: 0 -5px;
    }

    .brands__item {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
    }
  }
}

@include respond-to($xs) {
  .section-popular-brands {

    .form__description {
      text-align: left;
    }

    .block-view-brands {
      padding-right: 0;
    }

    .card {
      max-width: 350px;
    }

    .brands {
      justify-content: center;
    }

    .brands__item {
      width: 48%;
    }

    .content-section {
      text-align: center;
    }
  }
}

@include respond-to($xxs) {
  .section-popular-brands {
    .card-brand__title {
      font-size: 13px;
    }

    .content-section {
      padding-right: 0;
    }

    .specifications {
      font-size: 10px;
    }

    .card-brand__footer .acceleration {
      font-size: 9px;
      line-height: 1.45;
    }
  }
}

@media all and (max-width: 480px) {
  .section-popular-brands {

    .brands {
      margin: 0 -4px;
    }

    .brands__item {
      padding-left: 7px;
      padding-right: 7px;
      width: 100%;
      max-width: 300px;
    }

    .card__link {
      font-size: 13px;
    }

    .custom-select {
      width: 100%;
    }
  }
}

@media all and (max-width: 480px) {
  .section-popular-brands {
    .form__footer {
      flex-wrap: wrap;
    }

    .form-choose {
      margin-bottom: 50px;
    }

    .filter-brand {
      .wrap-btn {
        margin-top: 25px;
        width: 100%;
      }

      .form__description {
        width: 100%;
      }
    }
  }
}
