/*
* Fonts
*/
$primary-font:"GotmanPro",sans-serif;
$secondary-font: "Montserrat", sans-serif;

/*
* Colors
*/

$primary-color: #30bc55;
$light-green: #45c366;
$light-green-100: #4ab33c;
$light-green-200: #44b332;
$green:#168233;
$white: #fff;
$off-white:#fffefe;
$white-grey:#cfcfcf;
$black: #000000;
$black-100:#010101;
$dark-gray:#4b4b4b;
$dark-gray-100:#706f6f;
$dark-gray-200: #bebebe;
$gray:#b7b7b7;
$light-gray: #cccccc;




/*
* Breakpoints
*/

$xxs: '(max-width: 580px)';
$xs: '(max-width: 767px)';
$sm: '(max-width: 991px)';
$md: '(max-width: 1050px)';
$lg: '(max-width: 1240px)';
$screen-md: '(max-width: 1480px)';



