.page-catalog-vehicles {
  .page__header {
    .container {
      display: flex;
      align-items: center;
    }

    .section__text {
      margin-bottom: 0;
    }

    .section__title {
      width: 46%;
    }
  }

  .heading {
    display: flex;
    align-items: baseline;

    .section__title {
      flex-shrink: 0;
      margin-bottom: 90px;

    }

    .section__text {
      padding-left: 40px;
    }
  }

  .page-filters {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;

    &__title {
      font-size: 17px;
      flex-grow: 1;
    }

    .form__group {
      display: flex;
      justify-content: space-between;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 50px;
    }

    .custom-select {
      max-width: 240px;
      margin: 0 15px 30px;
    }

    .more-option {
      position: relative;
      display: flex;
      align-items: center;
      padding-bottom: 47px;

      &:after {
        position: absolute;
        content: '';
        display: block;
        height: 4px;
        border: 1px solid #30bc55;
        background-color: #ffffff;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    .range-box {
      width: 75%;

      display: flex;
      justify-content: space-between;
    }

    .wrap-range {
      max-width: 200px;
      text-align: center;
    }

    .label-range {
      color: #646464;
      font-size: 15px;
    }

    .irs--sharp {
      max-width: 130px;
      margin: 0 auto;
    }

    @include respond-to($md) {
      .form__group {
        flex-wrap: wrap;
      }
      .custom-select {
        max-width: 50%;
      }
      .more-option {
        flex-wrap: wrap;
      }
      .range-box {
        width: auto;
        flex-grow: 1;
        margin: 0 -20px;
        align-items: flex-end;
      }
      .irs--sharp {
        max-width: none;
      }
      .wrap-range {
        width: 33.33%;
        max-width: none;
        padding: 0 20px;
      }
      &__title {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;

        br {
          display: none;
        }
      }
    }

    @include respond-to($xxs) {
      max-width: 420px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      .form__group {
        margin-bottom: 0;
      }
      .custom-select {
        max-width: 100%;
        width: 100%;
      }
      .range-box {
        flex-wrap: wrap;
      }
      .wrap-range {
        text-align: left;
        width: 100%;
      }
    }
  }

}

.section-catalog {
  padding-bottom: 9%;

  .vehicles-list {
    padding-top: 10px;
    padding-bottom: 75px;

    &__item {
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }

  .card-vehicles {
    display: flex;
    font-family: "Montserrat", sans-serif;

    .modification {
      font-size: 19px;
      opacity: .6;
      margin-bottom: 40px;
    }

    &__title {
      font-size: 31px;
      font-weight: 600;
    }

    &__wrap-img {
      width: 30%;
      border-radius: 0 20px 0 0;
      overflow: hidden;
    }

    &__body {
      width: 40%;
      padding-left: 5%;
      padding-right: 45px;
    }

    .specifications-list {
      &__item {
        display: flex;
        padding: 5px 0;

        .part-left,
        .part-right {
          width: 50%;
        }
      }

      .part-left {
        font-size: 15px;
        font-weight: 400;
      }

      .part-right {
        font-size: 17px;
        font-weight: 600;
      }
    }

    .block-link-transition {
      margin-left: auto;

      .wrap-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
      }

      .btn_go {
        margin-right: 30px;
      }

      .car-brand {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        line-height: 27.31px;
        color: #646464;
      }
    }

    .brief-description {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      max-width: 255px;
      width: 100%;
      margin: 0 auto;
    }

    .conditional-display {
      &__item {
        display: inline-block;
        vertical-align: middle;
        margin-left: 9px;

        &:first-child {
          margin-left: 0;
        }
      }

      .battery {
        display: block;
        width: 7px;
        height: 19px;
      }

      .round {
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #d0d0d0;
        background-color: #ffffff;
        border-radius: 50%;

        &_filled {
          background-color: #d0d0d0;
        }
      }
    }

    .number-seats {
      font-size: 17px;
      font-weight: 600;
      line-height: 1.46;

      color: #20b12e;

      img {
        width: 20px;
        height: 20px;
        margin-right: 17px;
      }
    }
  }
}

@media screen and (max-width: 1660px) {
  .section-catalog {
    .card-vehicles {
      &__title {
        font-size: 28px;
      }

      .btn {
        font-size: 18px;
      }

      .modification {
        font-size: 17px;
        margin-bottom: 20px;
      }

      .block-link-transition .wrap-btn {
        margin-bottom: 15px;
      }
    }
  }
}

@include respond-to($screen-md) {
  .section-catalog {
    .card-vehicles {
      .btn {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}

@include respond-to($screen-md) {
  .section-catalog {
    .card-vehicles {
      .specifications-list {
        .part-left,
        .part-right {
          font-size: 14px;
        }
      }

      .brief-description {
        padding-top: 25px;
      }
    }
  }
}


@include respond-to($md) {
  .section-catalog {
    .specifications-list {
      margin-bottom: 30px;
    }

    .block-link-transition {
      margin: 0;
      width: 100%;
    }

    .vehicles-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;

      &__item {
        width: 47.5%;
        padding: 30px 20px;
        flex-direction: column;
        margin-bottom: 0;

        .btn {
          min-width: 0;
        }
      }

      .brief-description {
        padding-top: 15px;
        max-width: none;
      }

      .card-vehicles__wrap-img {
        width: 100%;
        margin-bottom: 30px;
      }

      .card-vehicles__body {
        width: 100%;
        padding: 0;
      }

      .card-vehicles__title {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
  }
}

@include respond-to($xs) {
  .section-catalog {
    padding-bottom: 85px;
    .vehicles-list {
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 35px;
      &__item {
        width: 100%;
        padding: 30px 0;
        flex-direction: column;
        margin-bottom: 0;

        .btn {
          min-width: 0;
        }
      }

      .card-vehicles__wrap-img {
        width: 100%;
        margin-bottom: 30px;
      }

      .card-vehicles__body {
        width: 100%;
        padding: 0;
      }

      .card-vehicles__title {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
  }
}

@media all and (max-width: 320px) {
  .section-catalog {
    .card-vehicles {
      .btn {
        font-size: 14px;
      }
      .block-link-transition .btn_go {
        margin-right: 10px;
      }
    }
  }
}
