.inform-rental {
  .card-vehicles {
    display: flex;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 17px;

    .modification {
      font-size: 19px;
      opacity: .6;
      margin-bottom: 40px;
    }

    &__title {
      font-weight: 600;
    }

    &__wrap-img {
      position: relative;
      width: 50%;
      padding-top: 26.75%;
      overflow: hidden;

      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__body {
      width: 50%;
    }

    .specifications-list {
      &__item {
        display: flex;

        .part-left,
        .part-right {
          width: 50%;
        }
      }

      .part-right {
        font-weight: 600;
      }
    }

    .block-link-transition {

      .car-brand {
        display: inline-block;
      }
    }

    .conditional-display {
      &__item {
        display: inline-block;

        &:first-child {
          margin-left: 0;
        }
      }

      .battery {
        display: block;
        width: 7px;
        height: 19px;
      }

      .round {
        display: block;
        border: 1px solid #d0d0d0;
        background-color: #ffffff;
        border-radius: 50%;

        &_filled {
          background-color: #d0d0d0;
        }
      }
    }

    .number-seats {
      font-weight: 600;
      line-height: 1.46;
      color: #20b12e;
    }
  }

  .section-agreement {
    padding-bottom: 94px;
  }

  .fieldboxes {
    align-items: flex-end;
    padding-bottom: 20px;
    margin: 0 -17px;
  }

  .form-group-small {
    width: 20%;
    padding: 0 17px;
  }

  .form-group-middle {
    width: 22%;
  }

  .btn_go {
    margin-bottom: 32px;
    width: 100%;
  }

  .section__text {
    width: 90%;
    font-size: 18px;
    line-height: 1.44;
    margin: 0 auto;

    p {
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .wrap-input-click {
    position: relative;
    margin-bottom: 32px;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../assets/img/select-date.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: block;
      width: 20px;
      height: 20px;
      top: 16px;
      left: 20px;

    }
  }

  .input.datepicker-click {
    padding-left: 52px;
    margin-bottom: 0;
  }

  .input {
    padding: 18px 23px;
  }
}
@media (min-width: 564px) {

}


@media screen and (max-width: 1880px) {
  .inform-rental .form-group-small {
    width: 20%;
    padding: 0 8px;
  }
  .inform-rental .form-group-middle {
    width: 25%;
    padding: 0 8px;
  }
  .inform-rental .wrap-btn {
    margin-top: 30px;
    padding: 0 8px;
  }
}

@include respond-to($screen-lg) {
  .inform-rental {
    .form-group-small {
      width: 22%;
    }

    .form-group-middle {
      width: 30%;
    }
  }
}

@include respond-to($screen-md) {
  .inform-rental .form-group-small {
    width: 20%;
  }
}

@include respond-to($lg) {
  .inform-rental {
    .form-group-middle,
    .form-group-small {
      width: 50%;
    }
  }
}

@include respond-to($md) {
  .inform-rental {

    .card-vehicles {
      align-items: flex-start;
    }

    .card-vehicles__wrap-img {
      width: 56%;
      padding-top: 35.75%;
    }

    .card-vehicles__body {
      padding-left: 4%;
    }

    .block-transition {
      margin-bottom: 22px;
    }
  }
}

@include respond-to($sm) {
  .inform-rental {

    .card-vehicles {
      display: block;

      &__body {
        width: 100%;
        padding-left: 0;
      }

      &__wrap-img {
        width: 100%;
        padding-top: 63.75%;
        margin-bottom: 20px;
      }
    }
  }
}

@include respond-to($xs) {
  .inform-rental {
    .form-group-middle,
    .form-group-small {
      width: 100%;
    }

    .card-vehicles {
      margin-bottom: 40px;
    }
  }
}

@include respond-to($xxs) {

  .inform-rental {
    .card-vehicles__title {
      font-size: 24px;
    }

    .specifications-list__item .part-left {
      font-size: 14px;
    }

    .specifications-list__item .part-right {
      font-size: 16px;
    }
  }
}


@media screen and (max-width: 340px) {
  .tech-data-car,
  .inform-rental {
    .container {
      padding: 0;
    }
  }
}
