.page-long-term-rental {
  .section__title {
    margin-bottom: 50px;
  }

  .section-product-rental {
    position: relative;
    padding-top: 72px;
    padding-bottom: 150px;
    z-index: 2;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-image: url(../assets/img/serp.png);
      background-repeat: no-repeat;
      background-position: right 0;
      -webkit-background-size: contain;
      background-size: contain;
      right: -4%;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }


    .container-default {
      display: flex;
    }

    .characteristics-car {
      margin-left: auto;

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 155px;
        height: 115px;
        border: 1px solid #00d550;
        background-color: #ffffff;
        padding: 15px 10px 15px 20px;

        color: #000000;
        font-family: 'Montserrat', sans-serif;
        font-size: 34px;
        font-weight: 500;

        margin-bottom: 60px;

        &:last-child {
          border: none;
          background-color: #f1f1f1;
          margin-bottom: 0;
        }

        span {
          font-size: 19px;
        }

        .acceleration {
          font-family: 'Montserrat', sans-serif;
          font-size: 13px;
          font-weight: 700;
          color: #cccccc;
        }

        .wrap-icon {
          width: 32px;
        }

        .img {
          width: 100%;
          height: auto;
          display: block;
        }

        .year {
          font-size: 21px;
        }
      }
    }

    .cost-calculator {
      width: 30%;
    }
  }

  .view-img-product {
    padding: 45px 100px;
    text-align: center;
  }
}