.page-buy {
  .page__header {
    margin-bottom: 80px;
    font-size: 17px;

    .section__title {
      width: 36%;
      flex-shrink: 0;
      margin-right: 45px;
    }
  }

  .container-default {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .single-car-card {
    font-family: $secondary-font;
    font-weight: 400;
    line-height: 1.4;

    &__header {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 31px;
      line-height: 1;
      margin-bottom: 20px;
    }

    &__sub-title {
      font-size: 14px;
    }

    &__text {
      p {
        margin-bottom: 20px;
      }
    }

    &__details {
      display: flex;
      padding: 40px 0;
    }

    &__value {
      font-size: 23px;
      font-weight: 600;
    }

    &__label {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 15px;
    }

    &__detail {
      width: 30%;
      flex-shrink: 0;
      padding-right: 30px;
    }

    &__footer {
      padding-top: 15px;
    }

    .right-part,
    .left-part {
      width: 50%;
    }

    small {
      font-size: 13px;
      color: #848484;
    }

    .card-preview {
      display: flex;
      justify-content: flex-end;
    }

    .img-wrap {
      max-width: 1440px;
      width: 50vw;
      flex-shrink: 0;

      img {
        width: 100%;
      }
    }

    .right-part {
      padding-left: 8%;
      padding-right: 3%;
    }
  }

  .section-ordering {
    padding-top: 0;
  }

  .car-info {
    padding-top: 12rem;

    .container {
      display: flex;
    }

    .left-part, .right-part {
      width: 50%;
    }

    &__table {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }

    &__cell {
      position: relative;
      width: 33.33%;
      flex-shrink: 0;
      padding: 40px 20px;
      font-size: 21px;
      color: #000;
      font-family: $secondary-font;
      font-weight: 600;
      text-align: center;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        background-color: #0a0c0c;
        opacity: 0.1;
        z-index: 1;
      }

      &:before {
        top: 0;
        right: -1px;
        width: 1px;
        height: 100%;
      }

      &:after {
        width: 100%;
        height: 1px;
        left: 1px;
      }
    }

    &__icon {
      display: block;
      width: 120px;
      height: 104px;
      margin: 0 auto 10px;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &__img-wrap {
      padding: 300px 0;
    }
  }
}

@include respond-to($screen-md) {
  .page-buy {
    .single-car-card {
      .right-part {
        padding-left: 6%;
      }
    }

    .single-car-card__title {
      margin-bottom: 10px;
    }

    .single-car-card__header {
      margin-bottom: 20px;
    }

    .single-car-card__details {
      padding: 30px 0;
    }

    .car-info {
      padding-top: 9rem;
    }
  }
}

@include respond-to($md) {
  .page-buy {
    .page__header {
      margin-bottom: 45px;
    }

    .single-car-card {
      .container-default {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
      }

      .right-part {
        padding-left: 0;
      }

      .right-part,
      .left-part {
        width: 100%;
      }

      .img-wrap {
        width: 100%;
        margin-bottom: 45px;
      }
    }

    .car-info {
      padding-top: 6rem;

      &__img-wrap {
        padding: 160px 0;
      }

      .container {
        flex-wrap: wrap;
      }
    }
  }
}

@include respond-to($xxs) {
  .page-buy .car-info {
    &__table {
      max-width: 380px;
      margin: 0 auto;
    }

    &__cell {
      font-size: 18px;
      width: 50%;
      padding: 20px;
    }
  }
}