.page-long-term-rental {
  padding-bottom: 9%;
}

@include respond-to($md) {
  .page-long-term-rental{
    padding-top: 60px;
  }
}
@include respond-to($sm) {
  .page-long-term-rental{
    padding-top: 20px;
  }
}