.page-single-car{

}

.section-product-car{
  padding-bottom: 80px;
  .container-default{
    display: flex;
    flex-wrap: wrap;
  }
  .slider-gallery-wrap{
    width: 55%;
  }
  .block-text{
    width: 100%;
    max-width: 1107px;
    margin: 0 auto;
    text-align: center;
    padding-top: 7%;
  }
}

.section-specifications{
  padding-top: 80px;
  padding-bottom: 135px;
  .block-tables{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap-table{
    width: 45%;
    padding-bottom: 120px;
    table{
      table-layout: fixed;
      width: 100%;
      font-size: 17px;
    }
    td{
      padding-left: 70px;
      padding-right: 5px;
      padding-top: 10px;
      padding-bottom: 10px;

      &:nth-of-type(even){

        padding-right: 30%;
        padding-left: 5px;
        text-align: right;
      }
    }
    tr{
      background-color: #fff;
      &:nth-of-type(even){
        background-color: #f2f2f2;
      }
    }

  }
  .caption{
    color: #17aa25;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 70px;
  }

}